---
import Products from '../../data/home.json'
import Card from '../ui/Card.astro';

const products = Products.building.list
---

<section class="building container" id="products">
    <p class="legend">{Products.building.legend}</p>
    <h2 class="heading-2">{Products.building.title}</h2>
    <div class="col-3">
        {products.map((product) => (
            <Card
            url={product.url}
            image={product.brand}
            title={product.name}
            description={product.description}
            ></Card>
        ))}
    </div>
</section>