---
import Pattern from '../../assets/pattern.svg'
import ProductsData from '../../data/products.json'
---

<div class="hero container">
    <figure class="hero__background">
        <img src={Pattern.src} alt="" class="hero__image">
    </figure>
    <div class="hero__content">
        <h1 class="hero__title heading-1">{ProductsData.heading.title}</h1>
        <p class="hero__description">{ProductsData.heading.description}</p>
        <a href="#contact" class="button__primary">¡Hablemos!</a>
    </div>
</div>

<script>
    function findFirstWord(selector) {
        let element = document.querySelector(selector)
        let firstWord = element.textContent.split(' ')[0]
        let newContent = `<span>${firstWord}</span>${element.textContent.slice(8)}`
        
        element.innerHTML = newContent
    }

    findFirstWord('.hero__content .heading-1')
</script>