---
export interface Props {
    url: string;
    image: string;
	title: string;
    description: string;
}

const { url, image, title, description } = Astro.props
---

<a href={url} class="card">
    <div class="card__heading">
        <img src={image} class="card__image"/>
        <h3 class="subtitle">{title}</h3>
    </div>
    <div class="card__body">
        <p class="card__description">{description}</p>
        <span class="card__link">{url}</span>
    </div>
</a>