---
import projects from '../../data/projects.json'
import ProjectCard from './ProjectCard.astro';

const allProjects = projects.list
---
<section class="galery" id="portfolio">
    <h2 class="subtitle">Portafolio</h2>
    <div class="galery__content container">
        {allProjects.map((project) => (
            <ProjectCard
            image={project.img}
            title={project.title}
            tags={project.tags}
            sourceCode={project.sourceCode}
            site={project.site}
            ></ProjectCard>
        ))}
    </div>
</section>